<div class="table-responsive container text-center mb-5">
    <h4> Editar estaciones </h4>

    <div class="row my-3">
        <label for="" class="col-md-3 col-form-label">Filtrar por línea:</label>
        <div class="col-md-4">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" [(ngModel)]="filter">
                <option value="" selected>Todas las líneas</option>
                <option *ngFor="let l of lineas" [value]="l + 1"> Línea {{ l + 1 }} </option>
            </select>
        </div>
    </div>

    <span class="text-left float-left mt-0 mb-1" *ngIf="stations.length!=0">
        Haga click en el botón de edición para editar los detalles de la estación
    </span>

    <span class="text-right float-right mt-0 mb-1">
        Mostrando {{stations.length}} {{ stations.length == 1 ? 'resultado':'resultados'}}
    </span>

    <table class="table table-hover table-md mb-5" *ngIf="stations.length > 0">
        <thead>
            <tr class="header">
                <th scope="col" class="align-middle" (click)="propiedad = 'id_kiosco'">
                    <i class="fas fa-sort float-left"></i>
                    ID
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'id_linea'">
                    <i class="fas fa-sort float-left"></i>
                    Línea
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'id_estacion'">
                    <i class="fas fa-sort float-left"></i>
                    No. estación
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'estacion'">
                    <i class="fas fa-sort float-left"></i>
                    Estación
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'tipo'">
                    <i class="fas fa-sort float-left"></i>
                    Tipo
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'id_matriz'">
                    <i class="fas fa-sort float-left"></i>
                    ID transbordo
                </th>
                <th scope="col" class="align-middle" (click)="propiedad = 'estatus'">
                    <i class="fas fa-sort float-left"></i>
                    Estado
                </th>
                <th scope="col" class="align-middle">
                    Editar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of stations; let i = index">
                <td>
                    {{ e.id_kiosco }}
                </td>
                <td>
                    Línea {{ e.id_linea }}
                </td>
                <td>
                    {{ e.id_estacion + 1}}
                </td>
                <td>
                    {{ e.estacion }}
                </td>
                <td>
                    {{ tipo[e.tipo] }}
                </td>
                <td>
                    {{ e.id_matriz || 'N/A' }}
                </td>
                <td>
                    {{ estado[e.estatus] }}
                </td>
                <td>
                    <button class="btn btn-success fas fa-pencil-alt">

                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>