<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card m-3 special-card">
                <div class="card-body">
                    <h4 class="text-center">¡Descubra la forma más rápida de llegar a su destino mientras explora la
                        ciudad!</h4>
                    <form [formGroup]="form">
                        <div class="form-group">
                            <label for="origen">
                                <i class="fas fa-map-marker-alt"
                                    [ngClass]="{'text-primary' : get('origen').valid, 'text-secondary' : get('origen').invalid}"></i>
                                Origen
                            </label>
                            <select class="form-control custom-select" formControlName="origen" [(ngModel)]="origin"
                                [class]="getClass('origen')" (ngModelChange)="origin = $event">
                                <option selected disabled [value]="null">
                                    Seleccione la estación o PI de origen
                                </option>
                                <option *ngFor="let s of stops" [ngValue]="s">
                                    {{ s.nombre }}
                                    ({{ s.tipo == 0 ? 'Estación' : 'Punto de interés' }})
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="destino">
                                <i class="fas fa-map-marker-alt"
                                    [ngClass]="{'text-danger' : get('destino').valid, 'text-secondary' : get('destino').invalid}"></i>
                                Destino
                            </label>
                            <select class="form-control custom-select" formControlName="destino"
                                [(ngModel)]="destination" [class]="getClass('destino')"
                                (ngModelChange)="destination = $event">
                                <option selected disabled [value]="null">
                                    Seleccione la estación o PI de destino
                                </option>
                                <option *ngFor="let s of stops" [ngValue]="s">
                                    {{ s.nombre }}
                                    ({{ s.tipo == 0 ? 'Estación' : 'Punto de interés' }})
                                </option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn" (click)="submit()"
                                [ngClass]="{'btn-success' : form.valid , 'btn-secondary disabled' : !form.valid }">
                                Calcular ruta
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card m-3 round" *ngIf="submitted || true">
                <div class="card-header">
                    <h2 class="header-route">
                        <i class="fas fa-route" [ngClass]="{'text-secondary':loading, 'primary' : !loading}"></i>
                        Ruta de {{ originName }} a {{ destinationName }}
                    </h2>
                </div>
                <div class="card-body scroll">
                    <div class="text-center align-center content-route" *ngIf="loading; else route">
                        <h4 class="loading">Cargando ruta ... </h4>
                        <div class="spinner-grow text-primary spin" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <ng-template #route>
                        <div class="selector">
                            <ul>
                                <li *ngFor="let s of stops">
                                    Hey muy buenas a todos!
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>