.special-card {
    border-radius: 25px;
    opacity: 0.91;
}

.special-card:hover {
    opacity: 1;
    cursor: pointer;
}

.form-group label {
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.disabled:hover {
    cursor: default !important;
}

.round {
    border-radius: 25px;
}

.scroll {
    max-height: calc(100vh - 235px) !important;
    max-height: -o-calc(100vh - 235px) !important; /* opera */
    max-height: -webkit-calc(100vh - 235px) !important; /* google, safari */
    max-height: -moz-calc(100vh - 235px) !important; /* firefox */
    overflow-y: auto;
}

.spin {
    color: rgb(234, 29, 115) !important;
    width: 50px;
    height: 50px;
}

.loading {
    font-style: italic;
}

.primary {
    color: rgb(234, 29, 115) !important;
    transition: color 1s, visibility 1s;
}

.swap {
    background-color: rgb(245, 245, 245);
}

.swap i {
    transition: all 0.5s ease-in-out;
}

.route li {
    font-size: 20px;
}

.bold {
    font-weight: bolder;
}

.bold-minus{
    font-weight: 600;
}

.resume{
    font-size: 20px;
}