.special-card{
    border-radius: 25px;
    opacity: 0.91;
}

.special-card:hover{
    opacity: 1;
    cursor: pointer;
}

.form-group label{
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.disabled:hover{
    cursor: default !important;
}

.scroll {
    border-radius: 25px;
    height: calc(100vh - 170px) !important;
    height: -o-calc(100vh - 170px) !important; /* opera */
    height: -webkit-calc(100vh - 170px) !important; /* google, safari */
    height: -moz-calc(100vh - 170px) !important; /* firefox */
    overflow-y: auto;
}

.spin{
    color: rgb(234, 29, 115) !important;
    width: 50px;
    height: 50px;
}

.loading{
    font-style: italic;
}

.primary{
    color: rgb(234, 29, 115) !important;
}
