<div class="stick">
    <nav class="navbar navbar-light bg-light bg-nav">
        <a class="navbar-brand nav" href="#">
            <img src="../../../assets/icon-invert.png" class="d-inline-block align-middle" alt="">
            <span class="align-middle">
                Kiosko Turístico
            </span>
        </a>
        <div class="gdl-icon">
            <img src="../../../assets/img/guadalajara.png">
        </div>
    </nav>
</div>
<div class="app-background">
        <router-outlet>

        </router-outlet>
    <app-footer></app-footer>
</div>