<div class="login-background full-size">
    <div class="container">
        <div class="row">
            <div class="card mx-auto text-center mt-5 shadow p-3 mb-5 bg-white rounded login-card transparent">
                <div class="card-body">
                    <!-- <alert></alert> -->
                    <img src="../../assets/logo.png" class="login-logo" alt="Visita Guadalajara">
                    <br>
                    <h1 class="title py-3">¡Bienvenido al Kiosko Turístico GDL!</h1>
                    <div class="row">
                        <div class="col-6 border-right">
                            <h3 class="app-title">
                                Prueba nuestra App
                            </h3>
                            <img src="../../assets/img/point.png" class="app-image" alt="Visita el Kiosko" title="Visita el kiosko">
                        </div>
                        <div class="col-6">
                            <h3 class="app-title">
                                Administra los puntos de Interés
                            </h3>
                            <img src="../../assets/img/kiosk.png" class="app-image" alt="Administra los puntos" title="Administra los puntos">
                        </div>
                    </div>
                    <a href="https://www.visitmexico.com/" target="_blank" alt="Visit Mexico">
                        <img src="../../assets/branding.png" class="branding-logo" alt="Visita México">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <app-footer>
    </app-footer>
</div>